.gradient-custom-2 {
    /* fallback for old browsers */
    background: #bc4e9c;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, hsla(340, 95%, 50%, 0.514), hsla(317, 45%, 52%, 0.651));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, hsla(340, 95%, 50%, 0.514), hsla(317, 45%, 52%, 0.651));
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }